<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5p %C{4} %F:%L- %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.xdi.oxd.sample" level="TRACE" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
    </Loggers>

</Configuration>